$whiteBGColor: white;
$orangeTheme: #ff7f00;
$whiteTextTheme: white;
$whiteBGTheme: white;
$mainImageDarkOverlay: rgba(0, 0, 0, 0.6);
$cardShadowColor: black;
$cardDetailsArrowColor: white;
$buttonBGTransparent: rgba(0, 0, 0, 0);
$productAddCartButton: #ff5500;

@mixin below575px {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin below530px {
  @media (max-width: 530px) {
    @content;
  }
}

.pageSectionLogin {
  min-height: 410px;
}

.loginInput {
  border: 1px solid $orangeTheme;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.loginSubmitButton {
  width: 100%;
  height: 100%;
}

.loginBoxContainer {
  margin: 0;
}

.titleWithOrangeLine {
  height: 100px;
  line-height: 100px;
  @include below575px() {
    height: 80px;
    line-height: 80px;
  }
}
