$orangeTheme: #ff7f00;
$whiteTextTheme: white;
$whiteBGTheme: white;
$mainImageDarkOverlay: rgba(0, 0, 0, 0.6);
$cardShadowColor: black;
$cardDetailsArrowColor: white;
$buttonBGTransparent: rgba(0, 0, 0, 0);
$productAddCartButton: #ff5500;
$grayBGTheme: #e5e5e5;
$disabledSliderArrow: #c5c5c5;

.singleProdTopContainer {
  margin-bottom: 45px;
}

.singleProdTitle {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 110px;
  line-height: 110px;
  margin-bottom: 0;
}

.singleProdTitle:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid $orangeTheme;
  margin: auto;
  margin-left: 10px;
}

.singleProdDetailsContainer {
  height: 500px;
  margin-bottom: 55px;

  .singleProdLeftCarousel {
    height: 100%;
    margin-top: 34px;
    position: relative;

    .carousel a:first-of-type {
      background-color: red;
    }

    #carouselWrapper {
      width: 100% !important;
      height: calc(100% - 62px) !important;
      position: relative;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
      z-index: 2;

      .pictureFrame {
        margin: auto;
      }
    }

    .singleProdCarBorder {
      border: 3px solid $orangeTheme !important;
    }
  }

  .singleProductImage {
    display: inline-block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: $whiteBGTheme;
  }

  .singleProductRightDetails {
    .singleProdRightPrice {
      font-weight: bold;
      font-size: 25px;
      color: $orangeTheme;
    }

    .singleProdRightOrangeColor {
      color: $orangeTheme;
    }

    .singleProdDeliverPrice {
      border-top: 1px solid $orangeTheme;
      border-bottom: 1px solid $orangeTheme;
    }
    .singleProdRightColorWrap {
      padding-bottom: 10px;

      .singleProdRightColor {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer;
      }
    }

    .singleProdButtonsWrap {
      display: flex;

      .singleProdCartButton {
        flex: 1;
        padding: 0;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;

        .singleProdCartText {
          flex: 1;
        }

        .singleProdCartIconWrap {
          background-color: $productAddCartButton;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 54px;
          height: 100%;
        }
      }

      .singleProdFavoriteButton {
        margin-left: 20px;
        background-color: $productAddCartButton;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      > button {
        background-color: $orangeTheme;
        padding: 15px 0;
        border: none;
        border-radius: 0;
        color: $whiteTextTheme;
      }
    }

    > p {
      margin: 0;
      padding: 10px 0;
    }
  }

  .singleProdCarPrev,
  .singleProdCarNext {
    left: 50%;
    position: absolute;
    height: 31px;
    width: 50px;
    transform: translateX(-50%);
    border: none;
    padding: 0;
    border-radius: 0;

    .singleProdCarArrow {
      width: 20px;
      height: 20px;
      display: inline-block;
      border: 2px solid $orangeTheme;
      border-bottom: none;
      border-right: none;
      transform: rotate(45deg);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -22%) rotate(45deg);
    }

    .singleProdCarNextArrow {
      transform: translate(-50%, -79%) rotate(225deg);
    }

    .singleProdCarPrevArrow {
      z-index: 3;
    }
  }

  :focus {
    outline: none;
  }
  .singleProdCarPrev:hover,
  .singleProdCarNext:hover {
    background-color: $whiteBGTheme;
  }

  // ----------

  .buttons {
    margin: 5px 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    text-align: center;
    left: 0;
  }
  #next {
    bottom: 0;
  }
  button {
    font-size: 14px;
    display: inline;
    padding: 3px 6px;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 5px;
    outline: none;
  }
  button:hover {
    border: 2px solid #888;
    background: #ffe;
    cursor: pointer;
  }
  #carouselWrapper {
    position: relative;
    overflow: hidden;
  }
  #carousel {
    position: absolute;
    visibility: hidden;
  }
}

.singleProdBottomDetailWrap {
  .singleProdBottomButtonsWrap {
    display: flex;
    margin-bottom: 15px;

    .singleProdBotButtonBGColor {
      background-color: $orangeTheme;
      color: $whiteTextTheme;
    }
  }

  .singleProdBottomButtonsWrap > button {
    padding: 10px 35px;
    border: none;
    border-radius: 0;
    margin-right: 15px;
    font-weight: bold;
    box-shadow: 0 0 6px $cardShadowColor;
  }

  .singleProdBottomButtonsWrap > button:hover,
  .singleProdBottomButtonsWrap > button:focus {
    border: none;
    outline: none;
  }

  .singleProdBottomDetailWrap {
    box-shadow: 0 0 6px $cardShadowColor;
    margin-bottom: 15px;

    .singleProdBottomDetailInnerWrap {
      padding: 10px 30px;

      .singleProdBotDetail {
        padding: 10px 0;
        border-bottom: 1px solid $orangeTheme;

        .singleProdBotDetailTitle {
          font-weight: bold;
          margin-right: 10px;
        }
      }
      div:last-child {
        border-bottom: none;
      }
    }

    .singleProdBottomDetailDescWrap {
      text-indent: 25px;
      line-height: 35px;
      margin-bottom: 15px;
      padding: 10px 30px;
    }
  }
}

// ----------------- Common carousel -----------------

.sliderDisabledArrow {
  border-color: $disabledSliderArrow;
}

.singleProductSliderArrow {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 3px solid $orangeTheme;
  border-right: 3px solid $orangeTheme;
  left: 50%;
}

// ----------------- vertical carousel -----------------

.verticalSliderWrapper {
  height: 80%;
  width: 100%;
  overflow: hidden;

  .verticalSlider {
    height: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 400ms ease-in-out;

    .verticalSliderSlide {
      height: calc(25% - 5px);
      width: 100%;
      padding-bottom: 5px;
      box-sizing: initial;

      .verticalSliderSlideInWrap {
        display: inline-block;
        height: 100%;
        width: 100%;
        background-color: $whiteBGTheme;
        cursor: pointer;
        border: 1px solid $orangeTheme;

        .verticalSliderSlideImage {
          display: inline-block;
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      .verticalSliderSelectedBorder {
        border-width: 3px;
      }
    }
  }
}

.verticalSliderNext {
  position: absolute;
  top: -34px;
  width: calc(100% - 30px);
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.verticalSliderPrevious {
  position: absolute;
  width: calc(100% - 30px);
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 0;
  bottom: 71px;
}

.verticalSliderArrowNext {
  transform: translateX(-50%) rotate(-45deg);
  top: 5px;
}

.verticalSliderArrowPrevious {
  transform: translateX(-50%) rotate(135deg);
  top: 0px;
}

.topTranslate {
  transform: translateY(25%);
}

.sliderDisabledArrow {
  border-color: $disabledSliderArrow;
}

// ----------------- Similar carousel -----------------

.singleProductSimilarTitle {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 110px;
  line-height: 110px;
  margin-bottom: 0;
}

.singleProductSimilarTitle:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid $orangeTheme;
  margin: auto;
  margin-left: 10px;
}

.singleProductSimilarPBottom55px {
  padding-bottom: 55px;
}

.singleProductSimilarBGGray {
  background-color: $grayBGTheme;
}

.singleProdSimilarContainer {
  display: flex;
  padding: 0;
  width: 90%;
  position: relative;

  .similarSlider {
    display: inline-block;
    height: 100%;
    width: 40px;
    position: absolute;
  }

  .similarSliderPrevious {
    left: -56px;

    .similarSliderArrowPrevious {
      top: 50%;
      transform: translateY(-50%) rotate(-135deg);
      left: 5px;
    }
  }

  .similarSliderNext {
    right: -56px;

    .similarSliderArrowNext {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      left: 10px;
    }
  }
}

.singleProdContainerHidden {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .singleProdSimilarFullWidth {
    display: flex;
    width: calc(100% + 30px);
    margin-left: -15px;
    transition: transform 400ms ease-in-out;
  }
}

.singleProductCol {
  width: 20%;
  max-width: 20%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 20%;

  .card-body {
    padding: 0 15px;
    min-height: 100%;

    .card-body {
      padding: 0;
      display: flex;
      flex-direction: column;

      .card-title {
        padding: 15px 0;
        margin-bottom: 0;
        border-top: 1px solid $orangeTheme;
        flex: 1 1;
      }

      .card-text {
        padding: 15px 0;
        margin-bottom: 0;
      }

      .singleProductCardButtonWrap {
        background-color: $orangeTheme;
        color: $whiteTextTheme;
        width: 100%;
        border: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;

        .singleProductCardButton {
          flex: 1;
        }

        .singleProductCardButtonIconWrap {
          background-color: $productAddCartButton;
          width: 44px;
          height: 44px;
          display: flex;
          justify-content: center;
          align-items: center;

          .singleProductCardButtonIcon {
            display: inline-block;
            width: 70%;
            object-fit: contain;
          }
        }
      }

      .singleProductCardButtonWrap:focus {
        outline: none;
        border: none;
      }
    }

    .singleProductCardFavWrap {
      position: relative;
      height: 25px;
      width: 25px;
      margin-left: auto;
      cursor: pointer;

      .singleProductCardFavorites {
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .singleProductImageWrap {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 15px 0;
  }
}
